
**简要描述：** 

- 用户注册接口

**请求URL：** 
- ` https://api.zydzuqiu.com/test/test.html `
  
**请求方式：**
- POST 

**参数：** 

|参数名|必选|类型|说明|
|:----   |:---|:----- |-----       |
|version |是  |string |版本号      |
|appid   |是  |string |请求appid   |
|sign    |是  |string |校验码      |
|time    |是  |int    |请求时间    |
|-|-|-|以上必填|
|date  |否  |string |请求日期    |
|remark  |否  |string |测试请求        |
|last_time|否 |int |1566666600|

 **返回示例**

``` 
  {
    "status": 100,
    "msg":"",
    "time":1566666666,
    "data": {
      "date": "2015-07-20 11:12:12",
      "remark":"测试请求",,
      "last_time": "1566666600",
    }
  }
```

 **返回参数说明** 

|参数名|类型|说明|
|:-----  |:-----|-----                           |
|status  |int   |返回状态码，100：注册成功；     |
|msg     |string|错误信息，例：验证码过期            |
|time    |int   |本次处理时间，下次请求要带上该时间  |
|data    |array |具体返回内容                    |
 **备注** 
sign 生成规则, appi和appsecret 由服务方提供
sign = MD5(version + appid + time + appsecret)
MD5('testsign') = '3ba0e5686cff73d99c63c49491e2927b'
- 更多返回错误代码请看首页的错误代码描述
100: 请求成功
101: 需要登录
102: 没有权限


